@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  background-color: black; 
  font-family: 'Poppins',sans-serif;
  /* scroll-behavior: smooth; */

}
.font-sora {
  font-family: "Sora";

}

.font-luckiest-guy {
  font-family: 'Luckiest Guy', system-ui;

}

.font-gluten {
  font-family: 'Gluten Variable', system-ui;

}

.font-coda {
  font-family: 'Coda Caption', sans-serif;

}

.font-roboto {
  font-family: 'Roboto', sans-serif;

}

.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #c084fc;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

.loader-container p {
   color: #c084fc;
   font-family: 'Gluten Variable', system-ui;
   margin-top: 2rem;
   display: flex;
   align-items: center;
   place-items: center;
   gap: 1rem;
   font-size: 1.52rem;
  
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}